# Base de datos
SUPABASE_URL=urlsupabase
SUPABASE_KEY=llavesupabase

# Configuración de app
DEFAULT_ROLE_ID=2
NODE_ENV=development # production

# Token
JWT_SECRET=tu_secreto_muy_largo_y_seguro_cambia_esto
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Servicio de correos
# Para desarrollo (Gmail)
GMAIL_USER=correo@gmail.com
GMAIL_APP_PASSWORD=contrasena

# Para producción (AWS SES)
AWS_ACCESS_KEY_ID=llaveaws
AWS_SECRET_ACCESS_KEY=llavesecretaaws
AWS_REGION=us-east-1
SES_FROM_EMAIL=noreply@tudominio.com

# Frontend URL (para enlaces en correos)
FRONTEND_URL=http://localhost:4200